# Mode the application runs in. Allowed values: debug, production
MODE=debug

# Redis connection URL
REDIS_URL=redis://localhost:6379/1

# Internal service token for authentication
SELF_TOKEN=

# Service authentication token
SERVICE_TOKEN=

# Telegram Bot Token used for communicating with Telegram Bot API
TELEGRAM_TOKEN=

# Service URL for internal communication
SERVICE_URL=http://localhost:8000

# Optional: Unix socket path for service communication
SERVICE_UNIX_SOCK=
